extend components/plantilla.pug
block contenidos
		section.intro
			div.intro__image: img(src="./images/imagen.png")
			.intro__contenido 
				h2 #{titulos[0]} 
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iusto quibusdam quo nihil.
					span Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				a.boton Leer mas
		main.contenido 
			+caja("imagen.png", titulos[1], lorem)
			+caja("imagen.png", titulos[2], lorem)
			+caja("imagen.png", titulos[3], lorem)
