-var titulo = "Título principal"
-var titulos = ["Titulo principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]

doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title PlatziGames
		link(rel="stylesheet", href="./css/ejercicio-pug.css")
	body 
		header 
			h1 PlatziGames 
			a.boton Registro
		section.intro
			div.intro__image: img(src="./images/imagen.png")
			.intro__contenido 
				h2 #{titulos[0]} 
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iusto quibusdam quo nihil.
					span Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				a.boton Leer mas