<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlatziGames</title>
    <link rel="stylesheet" href="./css/ejercicio-pug.css">
  </head>
  <body> 
    <header> 
      <h1>PlatziGames </h1><a class="boton">Registro</a>
    </header>
    <footer> 
      <h1>PlatziGames </h1>
      <ul> 
        <li>Sobre nosotros</li>
        <li>Noticias</li>
        <li>Contacto</li>
      </ul>
    </footer>
  </body>
</html>